body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: cadetblue;
}
.title {
  padding: 20%;
  font-size: 4rem;
  text-align: center;
}